<div id="content">

    <form class="form-cadastro">

        <table >
            <tr>
                <td><label>Id do Dinossauro</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input id="edtId" matInput value="" type="number" placeholder="Código do dinossauro">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Nome</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input id="edtNome" matInput value="" type="text" placeholder="Nome do dinossauro">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Altura (metros)</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input id="edtAltura" matInput value="" type="number" placeholder="Altura do dinossauro">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Comprimento (metros)</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input id="edtComprimento" matInput value="" type="number" placeholder="Comprimento do dinossauro">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Peso (toneladas)</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input id="edtPeso" matInput value="" type="number" placeholder="Peso do dinossauro">
                    </mat-form-field>
                </td>
            </tr>
        </table>        

        <div class="botoes">
            <a mat-raised-button routerLink="." class="verde">Salvar</a>
            <a mat-raised-button routerLink="" class="botao-meio laranja">Cancelar</a>
            <a mat-raised-button routerLink="." class="vermelho">Excluir</a>            
        </div>
        
    </form>

</div>