<div id="content">

    <form class="form-cadastro">

        <table >
            <tr>
                <td><label>Id do Dinossauro</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input [(ngModel)]="dino.id" name="edtId" type="number" placeholder="Código do dinossauro" required>
                    </mat-form-field>
                </td>
            </tr>            
            <tr>
                <td><label>Nome</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input [(ngModel)]="dino.nome" name="edtNome" type="text" placeholder="Nome do dinossauro" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Altura (metros)</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input [(ngModel)]="dino.altura" name="edtAltura" type="number" placeholder="Altura do dinossauro" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Comprimento (metros)</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input [(ngModel)]="dino.comprimento" name="edtComprimento" type="number" placeholder="Comprimento do dinossauro" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><label>Peso (toneladas)</label></td>
                <td>
                    <mat-form-field class="example-full-width">            
                        <input [(ngModel)]="dino.peso" name="edtPeso" type="number" placeholder="Peso do dinossauro" required>
                    </mat-form-field>
                </td>
            </tr>
        </table>        

        <div class="botoes">
            <a mat-raised-button (click)="save()" class="verde">Salvar</a>
            <a mat-raised-button routerLink="" class="botao-meio laranja">Cancelar</a>
            <a mat-raised-button routerLink="." class="vermelho">Excluir</a>            
        </div>
        
    </form>

</div>