<link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<div id="wrapper">
    <div id="card">   

        <div id="social">
            <h2>Sérgio Lacerda</h2>
            <h3>Professor e Consultor em Projetos de Tecnologia</h3>
            <span class="social-icons">
                <a href="http://www.linkedin.com/in/sergiolacerda" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://github.com/sergio-lacerda" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                <a href="https://www.youtube.com/channel/UCcy7WnMEtzyNZZBJvRcGpOg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
            </span>            
        </div>       

    </div>
</div>